html, body{ margin: 0; width: 100%; height: 100%; overflow: hidden; font-size: 12px; }

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('./font/dejavu/DejaVuSansMono.ttf');
}

@font-face {
    font-family: 'monospace';
    src: url("./font/monospace.ttf");
}

@font-face {
    font-family: 'UbuntuMono';
    src: url("./font/ubuntu/UbuntuMono-R.ttf");
}

.jxterm{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.15s;
    position: relative;
}

.jxterm .measure{
}

.jxterm .measure.scrollbar{
    width: 100px;
    height: 100px;
    overflow: scroll;
}

.jxterm .jxterm-output-row{
    /*position: relative;*/
    /*white-space: pre-wrap;*/
    word-break: break-word;
    font-variant-ligatures: no-common-ligatures;
    z-index: 1;
    overflow: hidden;
}

.jxterm .jxterm-output-row .len2{
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.jxterm .jxterm-output-row .tab{
    white-space: pre;
}

.jxterm .cursor{
    position: relative;
    display: inline-block;
}

.jxterm .cursor.cursor-shape-block.cursor-focus.cursor-blink,
.jxterm .cursor.cursor-focus .outline.cursor-blink{
    animation: cursor-blink 1s steps(1, end) infinite;
}

.jxterm .cursor.cursor-shape-block.cursor-focus.cursor-blink .outline{
    border-color: transparent;
}

.jxterm .cursor .outline{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.jxterm .jxterm-clipboard {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    color: transparent;
    z-index: 2;
    height: 0;
    font-size: 1px;
}


/*.webxterm .command{*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*}*/

.jxterm .jxterm-composition{
    position: relative;
    border-right: 2px solid transparent;
    animation: border-blink 1s linear infinite;
}

.jxterm .jxterm-composition:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    bottom: 0;
}

/*@keyframes border-blink { 0%, 50% { border-color: red;} 50.1%, 100% { border-color: transparent; } }*/


/* Character Attributes (SGR) */
/*1*/
.jxterm .jxterm-output-row .bold:not(.italic){
    font-weight: bold;
    vertical-align: bottom;
}

/*2*/
.jxterm .jxterm-output-row .faint{
    font-weight: 100 !important;
}

/*3*/
.jxterm .jxterm-output-row .italic:not(.bold){
    font-style: oblique;
    vertical-align: bottom;
}

.jxterm .jxterm-output-row .italic.bold{
    font-weight: bold;
    font-style: oblique;
    vertical-align: bottom;
}

/*4*/
.jxterm .jxterm-output-row .underlined{
    text-decoration: underline;
}

/*5, slowly blinking (less then 150 per minute) */
.jxterm .jxterm-output-row .slow-blink{
    animation: text-blink 1s linear infinite;
}

@keyframes text-blink {
    0%,
    50% {
        opacity: 1;
    }
    50.1%,
    100% {
        opacity: 0;
    }
}

/*6, rapidly blinking (150 per minute or more) */
.jxterm .jxterm-output-row .rapid-blink {
    animation: text-blink 0.5s linear infinite;
}

/*8*/
.jxterm .jxterm-output-row .invisible {
    visibility: hidden;
}

/*9*/
.jxterm .jxterm-output-row .crossed-out{
    text-decoration: line-through;
}







.jxterm .custom-keyboard{
    padding: 5px 0;
    background-color: #cccccc;
    font-family: arial, serif;
}

.jxterm .custom-keyboard-row{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.jxterm .custom-keyboard-row:first-child{
    justify-content: flex-start;
}


.jxterm .custom-keyboard-row-key{
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    color: #222;
    font-size: 20px;
    width: 9vw;
    margin-right: 1vw;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jxterm .custom-keyboard-row-ctrl{
    border-bottom: 1px solid #ebebeb;
    background-color: #aaa;
    color: #222;
    font-size: 20px;
    width: 10vw;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jxterm .custom-keyboard-row .key-tab{
    width: 11vw;
    margin-right: 2vw;
}

.jxterm .custom-keyboard-row .key-esc{
    width: 11vw;
    margin-right: 2vw;
}

.jxterm .custom-keyboard-row .key-ctrl{
    width: 11vw;
    margin-right: 2vw;
}

.jxterm .custom-keyboard-row .key-space{
    width: 50vw;
    margin-right: 2vw;
}

.jxterm .custom-keyboard-row .key-enter{
    width: 14vw;
    margin-left: 2vw;
}

.jxterm .custom-keyboard-row .key-shift{
    width: 11vw;
    margin-right: 3vw;
}

.jxterm .custom-keyboard-row .key-shift.active{
    background-color: #222;
    color: #fff;
}

.jxterm .custom-keyboard-row .key-backspace{
    width: 20vw;
}

.jxterm .custom-keyboard-row .custom-keyboard-row-key:last-child{
    margin-right: 0;
}

